.main_component {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.buttons {
    padding: 5px;
}