<div>
    <h1>Hírek</h1>
    <mat-card>
        <mat-card-header>
            <mat-card-title><mat-icon><span class="material-symbols-outlined">
                warning
                </span></mat-icon> Éves leolvasás </mat-card-title>
        </mat-card-header> 
        <mat-card-content>
            <p> Ne felejtse felírni egy emlékeztetőt a naptárába! 2022. május 14. 14:00-17:00.</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title><mat-icon><span class="material-symbols-outlined">
                warning
                </span></mat-icon> Munkálatok Szegeden </mat-card-title>
        </mat-card-header> 
        <mat-card-content>
            <p> Munkálatok lesznek az Oskola utcában, a Somogy utcában, és a Roosevelt téren 2022. április 30-tól 2022. május 14-ig. Az ott élő lakóktól elnézésüket kérjük a kellemetlen szituáció miatt.</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title><mat-icon><span class="material-symbols-outlined">
                warning
                </span></mat-icon> Telefonos csalók </mat-card-title>
        </mat-card-header> 
        <mat-card-content>
            <p> Vízóra nevében telefonáló csalók próbálják megszerezni az ügyfelek személyes adatait. Személyes adatot valószínűleg nem fog elkérni a beszélgetés során, viszont kéri, hogy egy alkalmazást telepítsen az ügyfél eszközére (jellemzően a telefonjára). Ez egy távoli asztal elérést biztosító alkalmazás, amelynek segítségével a csalók hozzáférhetnek minden, a készüléken tárolt információhoz.</p>
            <p> Legyünk nagyon óvatosak, ha Vízóra nevében telefonál valaki!</p>
            <p> A beszélgetés elején kérdezzük meg, hogy kit keres, és ha nem tudja a pontos nevünket, akkor szakítsuk meg a hívást!</p>
            <p> Semmilyen programot ne telepítsünk, még a Vízóra nevében telefonáló személy kérésére sem!</p>
            <p> Személyes vagy banki adatot, ideértve a bankkártya-adatokat is, ne osszunk meg senkivel telefonon! Ha valóban az ügyintéző telefonál, csak ő ismerheti a szükséges adatokat!</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title><mat-icon><span class="material-symbols-outlined">
                warning
                </span></mat-icon> Webalkalmazás karbantartás </mat-card-title>
        </mat-card-header> 
        <mat-card-content>
            <p> Átmenetileg nem lesz elérhető a weboldal 2022. március 18-tól március 31-ig.</p>
        </mat-card-content>
    </mat-card>
</div>