<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
    </mat-sidenav>
    <!-- <ng-template [ngIf]="page === 'main'">
        <app-main></app-main>
    </ng-template>
    <ng-template [ngIf]="page === 'regisztracio'"]>
        <app-regisztracio></app-regisztracio>
    </ng-template>
    <ng-template [ngIf]="page === 'kapcsolat'">
        <app-kapcsolat></app-kapcsolat>
    </ng-template>
    <ng-template [ngIf]="page === 'hirek'">
        <app-hirek></app-hirek>
    </ng-template>
    <ng-template [ngIf]="page === 'szamlak'">
        <app-szamlak></app-szamlak>
    </ng-template> -->
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs> 
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>Vízóra</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                    <li *ngIf="!(loggedInUser)"><a routerLink="/bejelentkezes">Bejelentkezés</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/regisztracio">Regisztráció</a></li>
                    <li><a routerLink="/hirek">Hírek</a></li>
                    <li *ngIf="(loggedInUser)"><a routerLink="/szamlak">Számlák</a></li>
                    <li><a routerLink="/kapcsolat">Kapcsolat</a></li>
                    <li *ngIf="(loggedInUser)"><a routerLink="/bejelentkezes" (click)="logout()">Kijelentkezés</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>  
</mat-sidenav-container>